/*
Theme:
Color is the default text color for everything. Hence white since grey background.
padding and margin reset from browser defaults to create good layouts
default background color dark grey to fit app theme

*/

.theme {
    color: #fffdfd;
    padding: 0;
    margin: 0;
    background: rgb(124, 169, 189);
}


/*
Container for app layout
Flex Aligns everything.
Flex col makes it layout go downwards instead of across
height is 96 % of the current viewmodel

*/

.app_container {
    display: flex;
    flex-direction: column;
    height: 96vh;
}


/*
Creates the rows for the layout
spaces the a tag by 33.33%
*/

.grid_row {
    width: 100%;
    display: flex;
    height: 33.33%;
}


/*
Styling for indivual buttons 
spaces them for 50% each
white borders
centered text and made white
*/

.button {
    width: 50%;
    padding: 70px ;
    border: 1px solid white;
    text-align: center;
    font-size: 35px;
    color: white;
    text-decoration: none;
}


/*
cross-site link
*/

/*
Your Styling
*/

.command {
    flex-grow: 1;
    padding: 10px;
    background: rgb(173, 173, 173);
    margin: 7px;
    margin-bottom: 30px;
    border: 3px solid rgb(204, 204, 204);
    border-radius: 15px;
}

.commandtitle {
    width: 100%;
    padding: 10px;
    background: rgb(124, 169, 189);
    border: 1px white;
}

/*
Heading Styling
Centered and add spacing for looks
*/

.title {
    text-align: center;
    margin: 10px;
}

.menu_icons {
    width: 50px;
    height: auto;
}

/*
other images
*/

.img {
    width: 90%;
    height: auto;
  }
  